<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>email</key>
	<string>邮箱</string>
	<key>art</key>
	<string>美术</string>
	<key>program</key>
	<string>程序</string>
	<key>gamedesign</key>
	<string>游戏设计</string>
	<key>appname</key>
	<string>撸的准</string>
	<key>pass</key>
	<string>恭喜过关！</string>
	<key>guidetext</key>
	<string>触摸香蕉并滑动！</string>
	<key>toomuch</key>
	<string>撸太狠了！</string>
	<key>noenough</key>
	<string>不给力啊！</string>
</dict>
</plist>
