<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>email</key>
	<string>Email</string>
	<key>art</key>
	<string>Art</string>
	<key>program</key>
	<string>Program</string>
	<key>gamedesign</key>
	<string>Game Design</string>
	<key>appname</key>
	<string>JERK OFF HIGH</string>
	<key>pass</key>
	<string>Big Cong!</string>
	<key>guidetext</key>
	<string>Touch the banana and move to start!</string>
	<key>toomuch</key>
	<string>Wow!It is too much!</string>
	<key>noenough</key>
	<string>Oh!Not enough!</string>
</dict>
</plist>
